body{
    background-color: #312c51;
}

.main-panel{
    background: #312c51;
    border-top: 3px solid #f05454;
}

.sidebar, .off-canvas-sidebar{
    background: #f05454;
}

.btn-primary{
    background: #f05454;
    background-color: #f05454;
}

.card{
    background: #48426d;
}

#clg-form .form-control{
    color: #f0c38e;
}

.sidebar p{
    color: #ffffff;
    font-size: 0.89rem;
}

.fm-control-sbmt {
    width: 55%;
}

.form-control {
    margin: auto;
    text-align: center;
}

.form-control:focus {
    border-color: #f05454;
    background-color: #48426d;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary.active,
.btn-primary:active:focus, .btn-primary:active:hover,
.btn-primary.active:focus, .btn-primary.active:hover{
    background-color: #f05454!important;
    background-image: none!important;
}

select{
    text-align: justify; /* For Edge */
    text-align-last: center;
}

.footer {
    padding: 22px 0 24px 250px;
}

a, a:hover, a:focus {
    color: #f05454;
    font-weight: 400;
}

.navbar a.navbar-brand{
    color: #ffffff;
}

div.img-holder{
    display: none;
}

.img-content{
    text-align: center;
}

.dl-btn{
    text-align: center;
    padding-bottom: 15px;
}

#dl-img, #dl-img:hover, #dl-img:hover{
    color: #fff;
    text-decoration: none;
}

#username-info{
    display: inline-block;
    max-width: 40%;
    margin-right: 20px
}

#btn-user{
    display: inline-block;
}

.info-holder{
    text-align: center;
}

.img-user-holder{
    text-align: center;
}

.info-user-holder{
    margin-top: 20px;
}

.user-info{
    text-align: left;
    margin-bottom: 5px;
}

.ulabel{
    text-align: left;
    margin-top: 10px;
}

.rounded{
    border-radius: 50%!important;
}

.form-control[disabled],
.form-control[readonly], 
fieldset[disabled] .form-control{
    background-color: #312c5145;
    color: #fff;
    cursor: not-allowed;
}

#usrInfoHolder{
    display: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus{
    color: white;
}

@media only screen and (max-width:600px){
    .fm-control-sbmt{
        width: 100%;
    }
}

@media only screen and (min-height :485px){
    .main-panel #collage.content{
        padding-top: 24vh;
    }
}